.datetime {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: max-content;
    height: 52.67px;
}

.datetime .time {
    font-size: 1.3rem;
}

@media screen and (min-width:900px){
    .datetime .time {
        font-size: 1.3rem;
    }

    .datetime .dateText {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 900px) {
    .datetime {
     align-items: center;
    }
   }

@media screen and (min-width: 340px){
    .datetime .time {
        font-size: 0.8rem;
    }

    .datetime .dateText {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 600px){
    .datetime .time {
        font-size: 1rem;
    }

    .datetime .dateText {
        font-size: 1rem;
    }
}
